body {
    background-color: black !important;
    text-justify: auto;
    color: white;
    margin: 0;
    padding: 0;
}
.pagina{
    padding-top: 20px;
}
#carouselExample {
    width: 90%;
    max-height: 500px;
    height: 500px;
    margin: 0 auto;
}
.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
}
.titulo h1 {
    font-size: 2rem;
    color: goldenrod;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}
.navbar {
    background-color: black;
    font-size: 18px;
}
.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;
}
.navbar a:hover {
    color: goldenrod;
}
.carousel-control-prev-icon,
.carousel-control-next-icon 
{
    background-color: rgb(190, 190, 190);
    border-radius: 50%;
}
.PosterMundial {
    flex: 0 0 auto;
    text-align: center;
    margin-bottom: 20px; 
    border-radius: 10px; 
}
.PosterMundial img {
    width: 100%;
    height: auto;
    max-width: 150px;
    border-radius: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
}
.PosterMundial img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}